@model SRUK.Models.ReviewDetailsViewModel

@{
    ViewData["Title"] = "Review Details";
}

<h2>Review</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4 style="text-align:center;">Review</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Critic)
                </dt>
                <dd>
                    <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.PaperVersion.Paper.Participancy.UserId">@Model.Critic.Degree @Model.Critic.FirstName @Model.Critic.LastName </a>
                </dd>
                @if (Model.OriginalFileName != null)
                {

                    <dt>
                        @Html.DisplayNameFor(model => model.OriginalFileName)
                    </dt>
                    <dd>
                        <a asp-action="Download" asp-controller="Reviews" asp-route-id="@Model.Id">@Model.OriginalFileName <span class="glyphicon glyphicon-download-alt" aria-hidden="true" data-toggle="tooltip" title="Download review"></span></a>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FileName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FileName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsPositive)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsPositive)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Unsuitable)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Unsuitable)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EditorialErrors)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EditorialErrors)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TechnicalErrors)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TechnicalErrors)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RepeatReview)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RepeatReview)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Comment)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Comment)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Deadline)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Deadline)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CompletionDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CompletionDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>
            </dl>
        </div>
            <div class="col-md-6">
                <h4 style="text-align:center;">Paper</h4>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PaperVersion.Paper.Title)
                    </dt>
                    <dd>
                        <a asp-action="Details" asp-controller="Papers" asp-route-id="@Model.PaperVersion.Paper.Id">@Model.PaperVersion.Paper.Title </a>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PaperVersion.Paper.Participancy.User)
                    </dt>
                    <dd>
                        <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.PaperVersion.Paper.Participancy.UserId">@Model.PaperVersion.Paper.Participancy.User.Degree @Model.PaperVersion.Paper.Participancy.User.FirstName @Model.PaperVersion.Paper.Participancy.User.LastName </a>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PaperVersion.OriginalFileName)
                    </dt>
                    <dd>
                        <a asp-action="Download" asp-controller="PaperVersions" asp-route-id="@Model.PaperVersion.Id">@Model.PaperVersion.OriginalFileName <span class="glyphicon glyphicon-download-alt" aria-hidden="true" data-toggle="tooltip" title="Download paper"></span></a>
                    </dd>
                </dl>
            </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
