@model ReviewIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Reviews</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

@if(Model.Reviews.Count() > 0)
{
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:200px;">
                Ttile
            </th>
            <th style="width:150px;">
                Author
            </th>
            <th style="width:150px;">
                Critic
            </th>
            <th style="width:110px;">
                Status
            </th>
            <th>
                Deadline
            </th>
            <th>
                Creation date
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reviews)
        {
        <tr>
            <td>
                @Html.ActionLink(item.PaperVersion.Paper.Title, "Details", "Papers", new { Id = item.PaperVersion.Paper.Id })
            </td>
            <td>
                @Html.ActionLink(item.PaperVersion.Paper.Participancy.User.Degree + " " + item.PaperVersion.Paper.Participancy.User.FirstName + " " + item.PaperVersion.Paper.Participancy.User.LastName, "Details", "Users", new { Id = item.PaperVersion.Paper.Participancy.User.Id })
            </td>
            <td>
                @Html.ActionLink(item.Critic.Degree + " " + item.Critic.FirstName + " " + item.Critic.LastName, "Details", "Users", new { Id = item.Critic.Id })
            </td>
            <td style="text-align:center;">
                @if (item.OriginalFileName != null)
                {
                    <text>Done</text>
                }
                else
                {
                    <text>Waiting</text>
                }
            </td>
            <td style='color: black; text-align: center; '>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td style='color: black; text-align: center; '>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td style='color: black; text-align: center; '>
                <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Details"></span></a>
                @if (item.OriginalFileName == null)
                {
                    <text>|</text>
                    <a asp-action="CancelCritic" asp-controller="Reviews" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" title="Cancel critic"></span></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

}

<style>
    th {
        text-align: center;
    }
</style>