@model MyReviewsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>My Reviews</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (Model.Reviews.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Status
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    Creation date
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reviews)
            {
            <tr>
                <td>

                    <a asp-action="Download" asp-controller="PaperVersions" asp-route-id="@item.PaperVersion.Id">@item.PaperVersion.Paper.Title</a>

                </td>
                <td>
                    @item.PaperVersion.Paper.Participancy.User.Degree @item.PaperVersion.Paper.Participancy.User.FirstName  @item.PaperVersion.Paper.Participancy.User.LastName
                </td>
                <td style="text-align:center;">
                    @if (item.FileName != null)
                    {
                        <text>Done</text>
                    }
                    else
                    {
                        <text>Waiting</text>
                    }
                </td>
                <td style='color: black; text-align: center; '>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td style='color: black; text-align: center; '>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td style='color: black; text-align: center; '>
                    @if (item.FileName == null)
                    {
                        <a asp-action="AddReview" asp-controller="Reviews" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-text-color " aria-hidden="true" data-toggle="tooltip" title="Add Review"></span></a> <text>|</text>
                    }
                    <a asp-action="MyReview" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Details"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <text>There is still no reviews assigned to you.</text>
}

<style>
    th {
        text-align: center;
    }
</style>