@model PaperVersionIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Versions</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

@if (Model.Versions.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:350px;">
                    Title
                </th>
                <th style="width:250px;">
                    Author
                </th>
                <th>
                    Status
                </th>
                <th>
                    Reviews
                </th>
                <th>
                    Creation date
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Versions)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Paper.Title, "Details", "Papers", new { Id = item.Paper.Id })
                </td>
                <td>
                    @Html.ActionLink(item.Paper.Participancy.User.Degree + " " + item.Paper.Participancy.User.FirstName + " " + item.Paper.Participancy.User.LastName, "Details", "Users", new { Id = item.Paper.Participancy.User.Id })
                </td>
                <td>
                    @DictionariesHelper.PaperVersionStatuses[item.Status]
                    @if (item.Comment != null)
                    {
                        <text><span class="glyphicon glyphicon-comment" aria-hidden="true" data-toggle="tooltip" title="@item.Comment"></span></text>
                    }
                </td>
                <td style='color: black; text-align: center; '>
                    @foreach (var review in item.Reviews)
                    {
                            <a asp-action="Details" asp-controller="Reviews" asp-route-id="@review.Id"><span class="glyphicon glyphicon-text-color" aria-hidden="true" data-toggle="tooltip" title="@DictionariesHelper.RecommendationStatuses[review.Recommendation]"></span></a>
                            
                    }
                </td>

                <td style='color: black; text-align: center; '>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td style='color: black; text-align: center; '>
                    <a asp-action="Download" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-download-alt" aria-hidden="true" data-toggle="tooltip" title="Download"></span></a>
                    @if ((item.Reviews.Where(r => r.Recommendation == 5).Count() == 1 && item.Reviews.Count() == 2) || (item.Status == 1 && item.Reviews.Count() <= 1))
                    {
                        <text>|</text>
                        <a asp-action="AddCritic" asp-controller="Reviews" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-user " aria-hidden="true" data-toggle="tooltip" title="Add critic"></span></a>

                    }
                    @if (item.Status == 0)
                    {
                        <text> | </text>
                        <a asp-action="ChooseCritics" asp-controller="Reviews" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-user " aria-hidden="true" data-toggle="tooltip" title="Choose critics"></span></a><text> | </text>
                        <a asp-action="Delete" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a><text> | </text>
                        <a asp-action="RejectVersion" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip" title="Reject version"></span></a>
                    }
                    @*@if (item.Status == 4)
        {
            <text> | </text>
            <a asp-action="Discard" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" title="Discard paper"></span></a>
        }*@
                </td>

            </tr>
            }
        </tbody>
    </table>
}
else
{

}

<style>
    th {
        text-align: center;
    }
</style>