@model SRUK.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>User</h4>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <hr />
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>
            @if (Model.LockoutEnd != DateTimeOffset.MinValue)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.LockoutEnd)
                </dt>
                <dd>
                    @Model.LockoutEnd.AddHours(DateTime.Now.Hour - DateTime.UtcNow.Hour).ToString("dd.MM.yyyy HH:mm")
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Degree)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>
    </div>

    <div class="col-md-4">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Organisation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Organisation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrganisationAdderss)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrganisationAdderss)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VATID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VATID)
            </dd>
        </dl>
    </div>

</div>

@if (Model.Participancies.Count() > 0)
{
    <div class="row">
        <h4>User participancies</h4>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Season
                    </th>
                    <th>
                        Participation
                    </th>
                    <th>
                        Publication
                    </th>
                    <th>
                        Creation date
                    </th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                @foreach (var item in Model.Participancies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Season.EditionNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConferenceParticipation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publication)
                        </td>

                        <td style='color: black; text-align: center; '>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Papers.Count() > 0)
{
    <div class="row">
        <h4>User papers</h4>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:350px;">
                        Title
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Season
                    </th>
                    <th>
                        Creation date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Papers)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Title, "Details", "Papers", new { Id = item.Id })
                        </td>
                        <td>
                            @DictionariesHelper.PaperStatuses[item.Status]
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Participancy.Season.EditionNumber)
                        </td>

                        <td style='color: black; text-align: center; '>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td style='color: black; text-align: center; '>
                            <a asp-action="Details" asp-controller="Papers" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Details"></span></a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Reviews.Count() > 0)
{
    <div class="row">
        <h4>User reviews</h4>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:350px;">
                        Title
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Season
                    </th>
                    <th>
                        Creation date
                    </th>
                    <th>
                        Completion date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reviews)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.PaperVersion.Paper.Title, "Details", "Papers", new { Id = item.Id })
                        </td>
                        <td>
                            @DictionariesHelper.RecommendationStatuses[item.Recommendation]
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaperVersion.Paper.Participancy.Season.EditionNumber)
                        </td>

                        <td style='color: black; text-align: center; '>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td style='color: black; text-align: center; '>
                            @Html.DisplayFor(modelItem => item.CompletionDate)
                        </td>
                        <td style='color: black; text-align: center; '>
                            <a asp-action="Details" asp-controller="Papers" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Details"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="row">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    th {
        text-align: center;
    }
</style>
