@model UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Add new</a>
</p>
<form class="form-horizontal" role="form" asp-action="Index" id="form">
    @Html.Hidden("currentPage", Model.CurrentPage)
    <p>
            <div class="form-inline">
                        <button type="submit" class="form-control "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        <select name="degree" class="form-control" asp-items="ViewBag.Degrees"></select>
                        <input name="firstName" class="form-control" type="text" value="@Model.FirstName" placeholder="First name"style="width:130px;"  />
                        <input asp-for="LastName" class="form-control" type="text" placeholder="Last name"style="width:130px;"  />
                        <input asp-for="Organisation" class="form-control" type="text" placeholder="Organisation"/>
                        <input asp-for="Email" class="form-control" type="text" placeholder="Email" style="width:150px;" />
                        <select name="role" class="form-control" asp-items="ViewBag.Roles"></select>
                        <select asp-for="SortBy" class="form-control" asp-items="ViewBag.SortBy"></select>
            </div>
    </p>
    <table class="table table-hover" style=" width: 100%; word-wrap:break-word;
             table-layout: fixed;">
        <thead>

            <tr>
                <th style="width:30px;"></th>
                <th style="width:175px;">
                    Degree
                    @if (Model.SortBy == 1)
                    {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                    @if (Model.SortBy == 2)
                    {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                </th>
                <th style="width:175px;">
                    First name
                    @if (Model.SortBy == 3)
                    {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                    @if (Model.SortBy == 4)
                    {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                </th>
                <th style="width:175px;">
                    Last name
                    @if (Model.SortBy == 5)
                    {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                    @if (Model.SortBy == 6)
                    {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                </th>
                <th style="width:175px;">
                    Organisation
                    @if (Model.SortBy == 7)
                    {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                    @if (Model.SortBy == 8)
                    {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                </th>
                <th style="width:175px;">
                    Email
                    @if (Model.SortBy == 9)
                    {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                    @if (Model.SortBy == 10)
                    {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                </th>
                <th style="width:110px;">
                    Role
                    @if (Model.SortBy == 11)
                    {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                    @if (Model.SortBy == 12)
                    {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr @if (item.LockoutEnd.AddHours(1) > DateTime.Now) { @Html.Raw(@" style='color: gray; '") }>

                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organisation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                        @if (item.EmailConfirmed)
                        {<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td style='color: black; '>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Details"></span></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div style="text-align:right; margin-right:5%;">
        <ul class="pagination">

            @if (Model.CurrentPage == 1)
            {
                <li class="disabled"><a>&laquo;</a></li>
            }
            else
            {
                <li><a href="" onclick="$('#currentPage').val(@(Model.PageCount-1));$('#form').submit();">&laquo;</a></li>
            }
            @for (var i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a>@i</a></li>
                }
                else
                {
                    <li><a href="" onclick="$('#currentPage').val(@i);$('#form').submit();">@i</a></li>
                }
            }
            @if (Model.CurrentPage == Model.PageCount)
            {
                <li class="disabled"><a>&raquo;</a></li>
            }
            else
            {
                <li><a href="" onclick="$('#currentPage').val(@(Model.PageCount+1));$('#form').submit();">&raquo;</a></li>
            }

        </ul>
    </div>
</form>


<style>
    th {
        text-align: center;
    }
</style>
<script>
</script>