@model IEnumerable<SRUK.Models.UserIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style=" width: 100%; word-wrap:break-word;
             table-layout: fixed;">
    <thead>
        <tr>
            <th style="width:100px;">
                First name
            </th>
            <th style="width:100px;">
                Last name
            </th>
            <th style="width:200px;">
                Ogranisation
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Phone number
            </th>
            <th>
                Role
            </th>
            <th>
                Blocked to
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr @if (item.LockoutEnd>DateTime.Now){@Html.Raw(@" style='color: gray; '")}>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
                @if (item.EmailConfirmed)
                {<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
                @if (item.PhoneNumberConfirmed)
                {<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @if (item.LockoutEnd > DateTime.Now)
                {
                    @Html.Label(item.LockoutEnd.ToString($"dd-MM-yyyy HH:mm"))
                }
            </td>
            <td style='color: black; '>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
