@model UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="form-horizontal" role="form" asp-action="Index">
    <div class="form-group">
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12">
                    <button type="submit" class="form-control "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12">
                    <select name="degree" class="form-control" asp-items="ViewBag.Degrees" value="@ViewData["DegreeFilter"]"></select>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12">
                    <input asp-for="SearchFirstName" class="form-control" type="text" placeholder="First name" />
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12">
                    <input asp-for="SearchLastName" class="form-control" type="text" placeholder="Last name" />
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12">
                    <input asp-for="SearchOrganisation" class="form-control" type="text" placeholder="Organisation" />
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12">
                    <input asp-for="SearchEmail" class="form-control" type="text" placeholder="Email" />
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12">
                    <select asp-for="SearchRole" class="form-control" asp-items="ViewBag.Roles"></select>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover" style=" width: 100%; word-wrap:break-word;
             table-layout: fixed;">
        <thead>

            <tr>
                <th style="width:30px;"></th>
                <th style="width:175px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeSortParm"] ">
                        Degree
                        @if (Model.SortOrder == "Degree")
                        {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                        @if (Model.SortOrder == "degree_desc")
                        {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                    </a>
                </th>
                <th style="width:175px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">
                        First name
                        @if (Model.SortOrder == "")
                        {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" />}
                        @if (Model.SortOrder == "firstname_desc")
                        {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                    </a>
                </th>
                <th style="width:175px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]">
                        Last name
                        @if (Model.SortOrder == "LastName")
                        {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" /> }
                        else if (Model.SortOrder == "lastname_desc")
                        {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                    </a>
                </th>
                <th style="width:175px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["OrganisationSortParm"]">
                        Organisation
                        @if (Model.SortOrder == "Organisation")
                        {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" /> }
                        else if (Model.SortOrder == "organisation_desc")
                        {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                    </a>
                </th>
                <th style="width:175px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]">
                        Email
                        @if (Model.SortOrder == "Email")
                        {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" /> }
                        else if (Model.SortOrder == "email_desc")
                        {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                    </a>
                </th>
                <th style="width:90px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["RoleSortParm"]">
                        Role
                        @if (Model.SortOrder == "Role")
                        {<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" /> }
                        else if (Model.SortOrder == "role_desc")
                        {<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" />}
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr @if (item.LockoutEnd.AddHours(1) > DateTime.Now) { @Html.Raw(@" style='color: gray; '") }>

                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organisation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                        @if (item.EmailConfirmed)
                        {<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td style='color: black; '>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Details"></span></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>
<style>
    th {
        text-align: center;
    }
</style>
<script>
</script>