@model SRUK.Models.PaperDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this paper?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participancy.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participancy.Season.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participancy.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participancy.User.FirstName)
            @Html.DisplayFor(model => model.Participancy.User.LastName)<br />
            @Html.DisplayFor(model => model.Participancy.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @switch (Model.Status)
            {
                case 0:
                    <text>Created</text>
                    break;
                case 1:
                    <text>Topic approved</text>
                    break;
                case 2:
                    <text>Topic rejected</text>
                    break;
                case 3:
                    <text>Accepted</text>
                    break;
                case 4:
                    <text>Discarded</text>
                    break;
                case 5:
                    <text>Small mistakes left</text>
                    break;
            }
        </dd>
        <dt>
            Number of versions
        </dt>
        <dd>
            @if (Model.PaperVersions.Count > 0)
            {
                <text>@Model.PaperVersions.Count</text>
            }
            else
            {
                <text>None</text>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
