@model SRUK.Models.PaperDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participancy.User)
        </dt>
        <dd>
            @Html.ActionLink(Model.Participancy.User.FirstName + " " + Model.Participancy.User.LastName, "Details", "Users", new { Id = Model.Participancy.UserId })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @DictionariesHelper.PaperStatuses[Model.Status]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participancy.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participancy.Season.EditionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
@if(Model.PaperVersions.Count > 0)
{
    <h4>Versions</h4>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Status
                </th>
                <th>
                    Reviews
                </th>
                <th>
                    Filename
                </th>
                <th>
                    Original filename
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Added
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaperVersions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @DictionariesHelper.PaperVersionStatuses[item.Status]
                </td>
                <td>
                    @if (item.Reviews.Count > 0)
                    {
                        foreach (var review in item.Reviews)
                        {
                            <a asp-action="Review" asp-controller="Reviews" asp-route-id="@review.Id"><span class="glyphicon glyphicon-text-color" aria-hidden="true" data-toggle="tooltip" title="@DictionariesHelper.RecommendationStatuses[review.Recommendation]"></span></a>
                        }
                    }
                    else
                    {
                        <text>None</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td style='color: black; text-align:center;'>
                    <a asp-action="Download" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                    @if (item.Reviews.Where(r => r.Recommendation == 5).Count() == 1)
                    {
                        <text>|</text>
                        <a asp-action="AddCritic" asp-controller="Reviews" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-user " aria-hidden="true" data-toggle="tooltip" title="Add critic"></span></a>

                    }
                    @if (item.Status == 0)
                    {
                        <text>|</text>
                        <a asp-action="ChooseCritic" asp-controller="Reviews" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-user " aria-hidden="true" data-toggle="tooltip" title="Choose critic"></span></a><text>|</text>
                        <a asp-action="Delete" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" ifia-hidden="true"></span></a><text>|</text>
                        <a asp-action="RejectVersion" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class=" glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip" title="Reject version"></span></a>

                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
