@model SRUK.Models.MyPaperDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paper "@Model.Title"</h4>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @switch (Model.Status)
            {
                case 0:
                    <text>Created</text>
                    break;
                case 1:
                    <text>Topic approved</text>
                    break;
                case 2:
                    <text>Topic rejected</text>
                    break;
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndSeason)
        </dd>
    </dl>
</div>
    <h4>Versions</h4>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Reviews
                </th>
                <th>
                    Added
                </th>
                <th>
                    Filename
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaperVersions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.Reviews.Count > 0)
                    {
                        @Html.ActionLink(item.Reviews.Count.ToString(), "Details", "Reviews", new { Id = item.Id })
                    }
                    else
                    {
                        <text>None</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style='color: black; text-align:center;'>
                    <a asp-action="Download" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                    @if (item.Status == 0)
                    {
                        <text>|</text>
                        <a asp-action="Delete" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" ifia-hidden="true"></span></a>
                    }
                </td>
            </tr>
            }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style='color: black; text-align:center;'>
                        <a asp-action="Add" asp-controller="PaperVersions" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-file" aria-hidden="true" data-toggle="tooltip" title="Add new version"></span></a>

                    </td>
                </tr>
        </tbody>
    </table>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="MyPapers">Back to List</a>
</div>
