@model PaperIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Papers</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)


@if (ViewBag.IsRegistrationOpened)
{
    <p>
        <a asp-action="Add">Add new</a>
    </p>
}
@if (Model.Papers.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:350px;">
                    Title
                </th>
                <th>
                    Status
                </th>
                <th>
                    Is paid
                </th>
                <th>
                    Creation date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Papers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "Details", "Papers", new { Id = item.Id })
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case 0:
                                <text>Created</text>
                                break;
                            case 1:
                                <text>Topic approved</text>
                                break;
                            case 2:
                                <text>Topic rejected</text>
                                break;
                        }
                        @*@Html.DisplayFor(modelItem => item.Status)*@
                    </td>

                    <td style='color: black; text-align: center; '>
                        @Html.DisplayFor(modelItem => item.IsPaid)
                    </td>

                    <td style='color: black; text-align: center; '>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td style='color: black; text-align: center; '>
                        @if (item.Status == 0 || item.Status == 2)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a>
                        }
                        else if(item.Status == 1)
                        {
                            <span class="glyphicon glyphicon-file" aria-hidden="true" data-toggle="tooltip" title="Add paper"></span>
                        }|
                        <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Details"></span></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="tooltip">
    Hover over me
    <span class="tooltiptext">Tooltip text</span>
</div>

<style>
    th {
        text-align: center;
    }
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

        /* Tooltip text */
        .tooltip .tooltiptext {
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>