@model SRUK.Models.MyPaperDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@if (Model.Status == 0)
{
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    You will be able to upload any version of paper only when administrator accept this topic.
</div>
}
<div>
    <h4>Paper "@Model.Title"</h4>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @DictionariesHelper.PaperStatuses[Model.Status]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participancy.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participancy.Season.EditionNumber)
        </dd>
    </dl>
</div>
@if (Model.Status != 0)
{
    <h4>Versions</h4>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Added
                </th>
                <th>
                    Filename
                </th>
                <th>
                    Admin's comment
                </th>
                <th>
                    Status
                </th>
                <th>
                    Reviews
                </th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaperVersions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @DictionariesHelper.PaperVersionStatuses[item.Status]
                </td>
                <td>
                    @if (item.Reviews.Count > 0)
                    {
                        var i = 1;
                        foreach (var review in item.Reviews)
                        {
                            <a class="btn btn-default" asp-action="Review" asp-controller="Reviews" asp-route-id="@review.Id" title="@DictionariesHelper.RecommendationStatuses[review.Recommendation]">Review @i</a>
                            i++;
                        }

                    }
                    else
                    {
                        <text>None</text>
                    }
                </td>
                <td style='color: black; text-align:center;'>
                    <a asp-action="Download" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-download-alt" aria-hidden="true" data-toggle="tooltip" title="Download"></span></a>
                    @if (item.Status == 0)
                    {
                        <text>|</text>
                        <a asp-action="Delete" asp-controller="PaperVersions" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a>
                    }
                </td>
            </tr>
            }
            @if (((Model.Status == 1) || (Model.Status == 5)) && ViewBag.AllReviewsAreCompleted)
             {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style='color: black; text-align:center;'>
                        <a class="btn btn-primary" asp-action="Add" asp-controller="PaperVersions" asp-route-id="@Model.Id">Upload new version</a>

                    </td>
                </tr>
              }
                
        </tbody>
    </table>

}
<div>
    <a asp-action="MyPapers">Back to List</a>
</div>
